<h1>Ajuda do Contatooh</h1>

<p>Clique sobre o botão "Novo" para inserir um novo contato.</p>

<p>Utilize o campo "Parte do nome" para filtrar os contatos, a seu critério.</p>

<p>Clique sobre o nome do contato para exibir uma visualização dos detalhes do contato e poder alterá-los.</p>

<p>Na página de detalhes, clique sobre o botão "Voltar" para retornar à página de listagem de contatos.</p>

<p>Clique sobre o botão laranja "Remover" para excluir o contato. ATENÇÃO: ESSA OPERAÇÃO NÃO PODE SER DESFEITA.</p>