<!DOCTYPE html>
<html ng-app="contatooh">
   <head>
      <meta name="viewport" content="width=device-width" />
      
      <link rel="stylesheet"
         href="vendor/bootstrap/dist/css/bootstrap.css" />
      
      <link rel="stylesheet"
         href="vendor/bootstrap/dist/css/bootstrap-theme.css" />

      <meta charset="utf-8" />
      <title>Bem-vindo!</title>
   </head>
   <body>

      <% /* Este bloco só vai aparecer quando houver
         usuário logado */ %>
      <% if (usuarioLogado.length > 0) { %>
         <div class="text-right">
            <p>
               Logado como: <span id="usuario-logado">
                  <%= usuarioLogado %>
               </span>
               <a href="/logout">Logout</a>
            </p>
         </div>
      <% } %>
      
      <div ng-view></div>

      <a href="#!/ajuda" class="btn btn-default">Ajuda do Contatooh</a>
         
      <script src="vendor/angular/angular.js"></script>
      <script src="vendor/angular-route/angular-route.js"></script>
      <script src="vendor/angular-resource/angular-resource.js"></script>
      <script src="js/main.js"></script>
      <script src="js/services/ContatoService.js"></script>
      <script src="js/controllers/ContatosController.js"></script>
      <script src="js/controllers/ContatoController.js"></script>
      <script src="js/services/InterceptorService.js"></script>
   
   </body>
</html>